.button{
    padding: 0.75rem 2.92rem;
    border-radius: 0.25rem;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 114.286% */

}

.save{
    background: #56CF9C;
    color: #186b47;
}

.exit{
    background: #F39494;
    color: #CA0000;
}