.item{
    width: 14.3125rem;
    height: 2.9375rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.30);

    display: flex;
    align-items: center;

}

.item__icon{
    width: 2.0625rem;
    height: 2.0625rem;
    border-radius: 6.25rem;
    /*background: #E1AC44;*/
    margin-left: 0.44rem;
}

.item__text{
    margin-left: 0.44rem;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 0.9625rem */

}

.item__text__title{
    color: #FFF;
    font-size: 0.875rem;
    letter-spacing: 0.04375rem;

}

.item__text__descr{
    color: #817F7F;
    font-size: 0.75rem;
    letter-spacing: 0.0375rem;
}