.convlabel{
    padding: 0.5rem 0 0.5rem 0.63rem;
    border-radius: 0.25rem;
    overflow: hidden;
    color: rgba(19, 19, 19, 0.99);
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.convlabel:hover{
    background: #E8E7E9;
}